<div class="container">
    <div class="post-wrap">
        <h2 class="post-title">-&nbsp;About&nbsp;-</h2>
    </div>
    <article class="post-wrap page">
        <section class="post-content">
            <%- page.content %>
        </section>
    </article>
</div>